img {
    width: 19px;
    margin-left: 1px;
    padding-right: 18px;
}

.matTooltip {
    width: auto;
}

.button-clr {
    background-color: white;
    max-width: 168px;
    margin-left: 5px;
    text-decoration: center;
}