    <div class="mainDiv">
    <div>
        <div class="innerDiv">
            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
        </div>
        <div class="innerDiv">
            <h1>Create your Fundoo Account</h1>
        </div>
        <div class="innerDiv">
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Last Name" type="name">
            </mat-form-field>
        </div>
        <div class="innerDiv">
            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="UserName" type="">
                <mat-hint>You can use letters,numbers & periods</mat-hint>
            </mat-form-field>
        </div>
        <div class="innerDiv">
            <a href="#">Use my current email address instead</a>
        </div>

        <div class="innerDiv">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Password" type="password">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Use 8 or more characters with mix of letters,numbers & symbols</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" type="password">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
        <div class="innerDiv">
            <section class="example-section">
                <mat-checkbox class="example-margin">Show Password</mat-checkbox>
            </section>
        </div>
        <div class="innerDiv">
            <button class="btnPropety" mat-button color="primary">Sign in instead</button>
            <button mat-button color="primary">Next</button>
        </div>
    </div>
    <div>
        <div>
            <img src="../../../assets/account.svg" alt="" style="width: 30vh;">
            <pre>One account. All of Google
     working for you.</pre>
        </div>
    </div>
</div>