<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign=" center" class="mainDiv">
        <div fxLayout="column" fxLayoutAlign="space-around" class="innerDiv">
            <div>
                <h1>
                    <span style="color: blue;">F</span>
                    <span style="color: red;">u</span>
                    <span style="color: yellow;">n</span>
                    <span style="color: green;">d</span>
                    <span style="color: red;">o</span>
                    <span style="color: blue;">o</span>
                </h1>
            </div>
            <div class="innerDiv">
                <h1 class="account">Create your Fundoo Account</h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="firstName">
                    <mat-error>First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-left: 13px;">
                    <mat-label> Last name</mat-label>
                    <input matInput placeholder="Last Name" type="name" formControlName="lastName">
                    <mat-error>Last Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="innerDiv">
                <mat-form-field appearance="outline" style="width:100% ;">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="UserName" type="" formControlName="emailId">
                    <mat-error>Email Address is required</mat-error>
                    <mat-hint style="margin-left: -10px;">You can use letters,numbers & periods</mat-hint>
                </mat-form-field>
            </div>
            <div class="innerDiv">
                <a href="#" class="myAccount">Use my current email address instead</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <mat-error>Password must be at least 8 characters</mat-error>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm </mat-label>
                    <input matInput placeholder="ConfirmPassword" type="password" formControlName="confirmPassword">
                    <mat-error>Password is required </mat-error>
                </mat-form-field>
            </div>
            <mat-hint class="passward-indicator-text">Use 8 or more characters with mix of letters,numbers & symbols
            </mat-hint>
            <div class="innerDiv">
                <section class="example-section">
                    <mat-checkbox class="example-margin">Show Password</mat-checkbox>
                </section>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between end" class="btn-layout">
                <button mat-button color="primary" class="btn-instead" routerLink="/login">Sign in instead</button>
                <button mat-raised-button class="btn-create">Next</button>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="none center">
            <img src="../../../assets/account.svg" alt="" style="width: 40vh;margin-top: -60px;">
            <pre class="section-pre">One account. All of Google
     working for you.</pre>
        </div>
    </div>
</form>