
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="" class="example-toolbar" style=" ">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="innerDiv">
            <button mat-icon-button (click)="snav.toggle()">
                <img src="../../../assets/menu.png" alt="" class="menu-img" matTooltip="Main menu">
            </button>
            <img src="../../../assets/logoimg.png" alt="" class="img-logo">
            <h1 class="fundoo-text">
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
        </div>
        <div class="searchBar" fxLayout="row" fxLayoutAlign="none end">
            <img src="../../../assets/search.svg" alt="" matTooltip="Search">
            <input class="" type="text" name="search" type="search" placeholder="Search">
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="img-section">
            <img src="../../../assets//refresh.svg" alt="" class="img-refresh" matTooltip="Refresh">
            <img src="../../../assets//view.svg" alt="" class="img-view" matTooltip="List view">
            <img src="../../../assets//settings.svg" alt="" class="img-settings" matTooltip="Settings">
            <img src="../../../assets//apps.svg" alt="" class="img-apps" matTooltip="Google Apps">
            <img src="../../../assets//account.svg" alt="" class="img-account" matTooltip="Google Account">
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <div fxLayout="column" fxLayoutAlign="space-around start">
                    <a mat-list-item routerLink="/dashboard/getnotes" class="sidebar-logo">
                        <img src="../../../assets/lightbulb.svg" alt="">Notes
                    </a>
                    <a mat-list-item routerLink="." class="sidebar-logo">
                        <img src="../../../assets/notifications.svg" alt="">Reminders
                    </a>
                    <a mat-list-item routerLink="." class="sidebar-logo">
                        <img src="../../../assets/edit.svg" alt="">Edit labels
                    </a>
                    <a mat-list-item routerLink="/dashboard/archiveNotes" class="sidebar-logo">
                        <img src="../../../assets/archive.svg" alt="">Archive
                    </a>
                    <a mat-list-item routerLink="/dashboard/trashNotes" class="sidebar-logo">
                        <img src="../../../assets/delete.svg" alt="">Trash
                    </a>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>