<div fxLayout="column" fxLayoutAlign="space-between center" class="mainDiv">
    <div fxLayout="column" fxLayoutAlign="space-around" class="innerDiv">
        <div fxLayout="row" fxLayoutAlign="center center" class="innerDiv">
            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1 class="h1-section-password">Forget Password</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1 class="h1-section-email">Enter your Email</h1>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="section-userName">
            <mat-form-field appearance="outline" style="width:180%">
                <mat-label>Email</mat-label>
                <input matInput placeholder="" type="email">
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="none end" class="btn-layout">
            <button mat-raised-button class="btn-create"routerLink="/resetpassword">Next</button>
        </div>
    </div>
</div>