.mainDiv {
    padding: 30px 0px 0px 0px;
    border: 1px solid rgb(220, 213, 213);
    border-radius: 8px;
    margin-top: 6%;
    margin-left: 35%;
    text-align: center;
    height: 60%;
    width: 30%;
    position: absolute;
    border: 0.5px solid rgb(222, 214, 214);
}

.innerDiv {
    display: block;
    text-align: justify;
}

.h1-section-email {
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    margin-top: -6px;
    text-align: center;
}

.h1-section-password {
    color: #202124;
    font-size: 24px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
    line-height: 1.3333;
    word-break: break-word;
}

.section-userName {
    color: #202124;
    font-size: 16px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    z-index: 1;
}

.btn-layout {
    margin-top: 10%;
}

.btn-create {
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    color: white;
    margin-right: -65px;
    border: none;
    padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer
}