<form action="" [formGroup]="createNote" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="start center" class="main-div" >
        <mat-card >
            <div fxLayout="row" fxLayoutAlign="none end" *ngIf="show" class="title-section">
                <input name="text" id="text" class="note-section" placeholder="Title" formControlName="title"
                    type="text">
                <img src="../../../assets/pin.svg" alt="">
            </div>
            <div *ngIf="show || !show" (click)="isShow()">
                <input name="text" id="text" class="note-section" placeholder="Take a note..."
                    formControlName="discription">
            </div>
            <div *ngIf="show" fxLayout="row" fxLayoutAlign="space-evently end">
                <app-icons></app-icons>
                <button mat-button class="btn-close">Close</button>
            </div>
        </mat-card>
    </div>
</form>