<div fxLayout="row" fxLayoutAlign="center start" > 
    <div  class="main-div">
        <div class="note-section-main">
            <textarea type="text" class="note-section" placeholder="Title"
                style="width:99%;background-color:white"></textarea>
            <textarea type="text" class="note-section" placeholder="Take a note..."
                style="width:99%;background-color:white"></textarea>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end">
            <button mat-button class="btn-close">Close</button>
        </div>
    </div>
</div>