.main-div {
    margin-left: 100px;
}

.main-div mat-card {
    max-width: 21%;
    margin-left: 15px;
    margin-top: 30px;
    margin-right: 12px;
}

.pin-text img {
    width: 25px;
    height: 8%;
    margin-top: -10px;
    margin-right: -10px;
}

.note-section {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-weight: bold;
    letter-spacing: .00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: center;
    padding-top: 5px;
    margin-top: -10px;
}