.main-div {
    margin-top: 50px;
    margin-left: 5vh;
    width: 40vh;
}

.note-section {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-weight: bold;
    letter-spacing: .00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: center;
    padding-top: 5px;
    margin-top: -10px;
}