<div fxLayout="row wrap" fxLayoutAlign="" class="main-div" style="width:auto">
    <mat-card *ngFor="let note of childMessage">
        <div fxLayout="row" fxLayoutAlign="" class="pin-text">
            <textarea name="text" id="text" class="note-section" placeholder="Title">{{note.title}}</textarea>
            <img src="../../../assets/pin.svg" alt="">
        </div>
        <textarea name="text" id="text" class="note-section"
            placeholder="Take a note...">{{note.discription}}</textarea>
        <div fxLayout="row" fxLayoutAlign="space-between end">
            <app-icons></app-icons>
        </div>
    </mat-card>
</div>