.mainDiv {
    padding: 30px 0px 0px 0px;
    border: 1px solid rgb(220, 213, 213);
    border-radius: 8px;
    margin-top: 6%;
    margin-left: 35%;
    text-align: center;
    height: 80%;
    width: 30%;
    position: absolute;
    border: 0.5px solid rgb(222, 214, 214);
}

.innerDiv {
    display: block;
    text-align: justify;
}

.section-chnage-pass {
    color: #202124;
    font-size: 24px;
    font-family: Roboto arial, sans-serif;
    font-weight: 400;
    line-height: 1.3333;
    word-break: break-word;
}

.headline-password {
    white-space: normal;
    margin-top: 13px;
}

.strong-pass-text {
    margin-bottom: 4px;
    font-size: 16px;
    margin-left: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

.section-strongpass-text {
    font-size: 14px;
    margin-left: 14px;
    white-space: normal;
    color: #202124;
    font-family: roboto, arial, sans-serif;
}

.btn-layout {
    margin-top: 10%;
}

.btn-create {
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    color: white;
    margin-right: 15px;
    border: none;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer
}

.passward-indicator-text {
    font-size: 15px;
}

.section-createPass {
    color: #202124;
    font-size: 16px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    z-index: 1;
}