<div fxLayout="column" fxLayoutAlign="space-between center" class="mainDiv">
    <div fxLayout="column" fxLayoutAlign="space-around" class="innerDiv">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
            <h1 class="section-chnage-pass">Change Password</h1>
        </div>
        <div fxLayout="column" fxLayoutAlign="start none" class="headline-password">
            <h1 class="strong-pass-text">Create a strong passward</h1>
            <pre class="section-strongpass-text">Create a new, strong password that you don’t use for other websites</pre>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="section-createPass">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Create passward</mat-label>
                <input matInput placeholder="" type="password">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Confirm</mat-label>
                <input matInput placeholder="" type="password">
                <mat-hint class="passward-indicator-text">At least 8 characters </mat-hint>
            </mat-form-field>
        </div>
      
        <div fxLayout="row" fxLayoutAlign="end none" class="btn-layout">
            <button mat-raised-button class="btn-create" routerLink="/home">Save password</button>
        </div>
    </div>
</div>